[[source]]
verify_ssl = true
url = "https://pypi.org/simple"
name = "pypi"

[requires]
python_version = "3"

[packages]
attrs = "*"
twisted = {extras = ["conch"],version = "*"}
service-identity = "*"
pyyaml = "*"
klein = "*"
"jinja2" = "*"
markdown = "*"

[dev-packages]
flake8 = "*"
bandit = "*"
mypy = "*"
isort = "*"
types-markdown = "*"
types-pyyaml = "*"

[pipenv]
allow_prereleases = true
