[[source]]
verify_ssl = true
url = "https://pypi.org/simple"
name = "pypi"

[requires]
python_version = "3"

[packages]
attrs = "*"
twisted = {extras = ["conch"], version = "*"}
service-identity = "*"
munch = "*"
pyyaml = "*"
klein = "*"
"jinja2" = "*"
markdown = "*"
"rfc3339" = "*"

[dev-packages]
"flake8" = "*"
jedi = "*"
json-rpc = "*"
autoflake = "*"
hy = "*"
yapf = "*"
ptpython = "*"
